{% extends 'stream/main.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>iot farm - view here</title>

    <link rel="stylesheet" href="{% static 'stream/style.css' %}">
    <link rel="stylesheet" href="{% static 'stream/iotFarmViewCss.css' %}">
    <style>
        .join-room-box{
            margin-top: 30px;
        }
    </style>
</head>
<body>


    {% block iot-farm-views %}
        <div class="title-iot">
            <h2>一段</h2><h2>ラディッシュ</h2>
        </div>


        <div class="tree-content">

            <div class="stream-video-content" >

                <canvas id="videoCanvas1" width="320" height="240">

                </canvas>

                <canvas id="videoCanvas2" width="320" height="240">

                </canvas>

                <canvas id="videoCanvas3" width="320" height="240">

                </canvas>
                <div class="join-room-box">
                    <h3 id="username"></h3>
{#                    <label id="label-username"></label><input id="username-input">#}
                    <button id="btn-join">Join Room</button>
                </div>
                <div class="room_container">
                    <div class="pomp1">
                        <span>
                            <i class="fas fa-lightbulb"></i>
                            <label class="switch">
                                <input type="checkbox" id="togBtn" >
                                <div class="slider round"></div>
                            </label>
                        </span>

                        <p class="pomp1-text">給水</p>
                    </div>
                    <div class="humidityclear">
                        <span>
                            <span class="iconify" data-icon="iconoir:air-conditioner" data-width="36" data-height="36" ></span>
                            <label class="switch1">
                                <input type="checkbox" id="togBtn1" >
                                <div class="slider1 round"></div>
                            </label>
                        </span>

                        <p class="led-room1-text">除湿</p>
                    </div>
                    <div class="door-lock">
                        <span>
                            <i class="fas fa-door-open"></i>
                            <label class="switch2">
                                <input type="checkbox" id="togBtn2" >
                                <div class="slider2 round"></div>
                            </label>
                        </span>

                        <p class="door-text">屋根のドーア</p>
                    </div>

                    <div class="energy-saving">
                        <span>
                            <span class="iconify" data-icon="carbon:energy-renewable" style="color: white;" data-width="36" data-height="36"></span>
                            <label class="switch3">
                                <input type="checkbox" id="togBtn3" >
                                <div class="slider3 round"></div>
                            </label>
                        </span>

                        <p class="door-text">Energy Saving</p>
                    </div>

                </div>
            </div>

            <div class="cards2">
                <div class="card-farm">
                    <div class="card-single2">
                        <div>
                            <h1 id="temperature">28℃</h1>
                            <span>温度</span>
                        </div>
                        <div>
                            <span class="las la-temperature-high"></span>
                        </div>
                    </div>

                    <div class="card-single2">
                        <div>
                            <h1 id="humidity">79%</h1>
                            <span>湿度</span>
                        </div>
                        <div>
                            <span class="las la-tint"></span>
                        </div>
                    </div>

                    <div class="card-single2">
                        <div>
                            <h1 id="wind">10m/s</h1>
                            <span>風速</span>
                        </div>
                        <div>
                            <span class="las la-wind"></span>
                        </div>
                    </div>

                    <div class="card-single2">
                        <div>
                            <h1 id="pressure">1000mpa</h1>
                            <span>圧力</span>
                        </div>
                        <div>
                            <span class="las la-tree"></span>
                        </div>
                    </div>
                </div>

                <div class="card-tree">
                    <div class="card-single2">
                        <div>
                            <h1 id="temperature">潤い</h1>
                            <span>土壌の水分</span>
                        </div>
                        <div>
                            <span class="las la-temperature-high"></span>
                        </div>
                    </div>

                    <div class="card-single2">
                        <div>
                            <h1 id="temperature">50cm</h1>
                            <span>高さ</span>
                        </div>
                        <div>
                            <span class="las la-temperature-high"></span>
                        </div>
                    </div>

                    <div class="card-single2">

                    </div>

                    <div class="card-single2">
                        <div>
                            <h1 id=""></h1>
                            <span></span>
                        </div>
                        <div>
                            <span class="las la-temperature-high"></span>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="status-chart">
            <div style="width: 240px; height: 180px;">
            <canvas id="tempchart" width="320" height="240"></canvas>
            </div>

            <div style="width: 240px; height: 180px;">
                <canvas id="waterchart" width="320" height="240"></canvas>
            </div>

            <div style="width: 240px; height: 180px;">
                <canvas id="treechart" width="320" height="240"></canvas>
            </div>

            <div style="width: 240px; height: 180px;">
                <canvas id="humiditychart" width="320" height="240"></canvas>
            </div>
        </div>






<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    console.log(window.location.host)
    var usernameInput = document.querySelector('#username');
    var btnJoin = document.querySelector('#btn-join');
    var isCreatedOffer = false;
    var isAnsweredsdp = false;
    var username;
    var pc = null;
    var websocket;
    var arrayOfBlobs = [];
    var iceSDP = {};
    var ndem = 0;
    var ngrok_url = "{{ ngrok_url }}"

    const b64_string = "data:image/png;base64,"

    var video = document.getElementById("#video")
    var mimeCodec = ""
    var temp_ele, humidity_ele, wind_ele, pressure_ele;

    temp_ele = document.getElementById("temperature");
    humidity_ele = document.getElementById("humidity");
    wind_ele = document.getElementById("wind");
    pressure_ele = document.getElementById("pressure");


    window.onload = function() {

        drawchart();

        var evtSource = new EventSource("{% url 'stream-response' %}");
        let temperature, pressure, humidity, wind;


        evtSource.onmessage = function(e) {
            //console.log(e);
            //console.log("data:" + e.data);
            var b64bufC01, b64bufC02, b64bufC03;
            let json_data = JSON.parse(e.data);

            temperature = json_data.temperature;
            humidity = json_data.humidity;
            pressure = json_data.pressure;
            wind = json_data.wind;

            b64bufC01 = json_data.b64bufC01;
            b64bufC02 = json_data.b64bufC02;
            b64bufC03 = json_data.b64bufC03;

            //console.log("[" + temperature + pressure + humidity + wind + "]")
            change_status_tree(temperature, pressure, humidity, wind)

            draw_image(b64bufC01, b64bufC02, b64bufC03)



        }


    }

    var buffer_video_C01 = [];
    var buffer_video_C02 = [];
    var buffer_video_C03 = [];
    function draw_image(b64bufC01, b64bufC02, b64bufC03) {
        console.log("printout NOW");

        var canvas1 = document.getElementById('videoCanvas1');
        var canvas2 = document.getElementById('videoCanvas2');
        var canvas3 = document.getElementById('videoCanvas3');

        var context1 = canvas1.getContext('2d');
        var context2 = canvas2.getContext('2d');
        var context3 = canvas3.getContext('2d');

        var imageObj1 = new Image();
        var imageObj2 = new Image();
        var imageObj3 = new Image();

        imageObj1.src = b64_string + b64bufC01;
        imageObj1.onload = function () {
            console.log("draw image 1")

            context1.drawImage(imageObj1, 0, 0, 480, 360);
        };


        imageObj2.src = b64_string + b64bufC02;
        imageObj2.onload = function () {

            context2.drawImage(imageObj2, 0, 0, 480, 360);
        };


        imageObj3.src = b64_string + b64bufC03;
        imageObj3.onload = function () {

            context3.drawImage(imageObj3, 0, 0, 480, 360);
        };

    }

    function change_status_tree(temperature, pressure, humidity, wind) {
        temp_ele.innerHTML = temperature + "℃";
        pressure_ele.innerHTML = pressure + "Hpa";
        humidity_ele.innerHTML = humidity + "%";
        wind_ele.innerHTML = wind + "m/s"
    }

    var buffer_video = [];

    async function webSocketOnMessage(event) {

        var text = await event['data'].text();




        var canvas1 = document.getElementById('videoCanvas1');
        var canvas2 = document.getElementById('videoCanvas2');
        var canvas3 = document.getElementById('videoCanvas3');

        var context = canvas.getContext('2d');
        var imageObj = new Image();
        imageObj.onload = function () {

            if (buffer_video.length < 30) {
                buffer_video.push(imageObj);
            } else if (buffer_video.length > 30) {
                context.drawImage(buffer_video[0], 0, 0, 480, 360);
            }
        };


    imageObj.src = b64_string + text;
    }

    btnJoin.addEventListener('click', () => {
        username = usernameInput.value;

        console.log(username)
        if (username === '') {
            return;
        }
        usernameInput.value = '';
        usernameInput.disabled = true;
        usernameInput.getElementsByClassName.visibility = 'hidden';

        btnJoin.disabled = true;
        btnJoin.getElementsByClassName.visibility = 'hidden';

        var pathName = '/iot-farm/stream'

        var loc = window.location;
        var wsStart = 'ws://' + ngrok_url;

        if (loc.protocol === 'https:') {
            wsStart = 'wss://' + ngrok_url;
        }

        var endPoint = wsStart + loc.host + loc.pathname + pathName;

        console.log('EndPoint: ', endPoint);

        webSocket = new WebSocket(endPoint);


        webSocket.addEventListener('open', (e) => {
            console.log('Conection Opened!');
            // webSocket.send(JSON.stringify({
            //     message : "hello this is first from webRTC",
            //     type : "word",
            //     user : "webRTC",
            // }))
        });

        webSocket.addEventListener('message', webSocketOnMessage);





        webSocket.addEventListener('close', (e) => {
            console.log('Disconnected!');

        });
        webSocket.addEventListener('error', (e) => {
            console.log('Error Occurred!');
        });
    });


    function drawchart() {
        //temperature of chart
        var tempctx = document.getElementById('tempchart');
        new Chart(tempctx, {
            type: 'line',
            data: {
                labels: ['day1', 'day2', 'day3', 'day4', 'day5', 'day6', 'day7', 'day8'],
                datasets: [{
                    label: 'temperature',
                    data: [18, 17, 16, 18, 17, 15],
                    borderColor: '#f88',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        min:0,
                        max:30,
                    }
                }
            }
        });

        //temperature of chart
        var humidityctx = document.getElementById('humiditychart');
        new Chart(humidityctx, {
            type: 'line',
            data: {
                labels: ['day1', 'day2', 'day3', 'day4', 'day5', 'day6', 'day7', 'day8'],
                datasets: [{
                    label: 'humidity',
                    data: [70, 60, 50, 55, 75, 40],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        min:0,
                        max:100,
                    }
                }
            }
        });

        //temperature of chart
        var waterctx = document.getElementById('waterchart');
        new Chart(waterctx, {
            type: 'line',
            data: {
                labels: ['day1', 'day2', 'day3', 'day4', 'day5', 'day6', 'day7', 'day8'],
                datasets: [{
                    label: 'water',
                    data: [180, 657, 516, 418, 617, 415],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        min:100,
                        max:1000,
                    }
                }
            }
        });

        //temperature of chart
        var treectx = document.getElementById('treechart');
        new Chart(treectx, {
            type: 'line',
            data: {
                labels: ['day1', 'day2', 'day3', 'day4', 'day5', 'day6', 'day7', 'day8', 'day9', 'day10'],
                datasets: [{
                    label: 'Tree growth',
                    data: [1, 2, 3, 5, 6, 7, 8, 9, 10, 10, 10, 11],
                    borderWidth: 1,
                    borderColor: '#2EC600',
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        min:0,
                        max:40,
                    }
                }
            }
        });
    }





</script>

    {% endblock %}

</body>


</html>