{% extends 'stream/main.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>iot farm - view here</title>

    <link rel="stylesheet" href="{% static 'stream/style.css' %}">
    <link rel="stylesheet" href="{% static 'stream/iotFarmViewCss.css' %}">
    <style>
        .join-room-box{
            margin-top: 30px;
        }
    </style>
</head>
<body>


{% block iot-farm-views %}
    <div class="title-iot">
        <h2>一段</h2><h2>ラディッシュ</h2>
    </div>

    <div class="main-farm-content">
        <div class="tree-content">
            <div class="stream-video-content" >
                <div class="video-container">
                    <canvas class="video-canvas" id="videoCanvas1" width="360" height="240">

                    </canvas>

                    <canvas class="video-canvas" id="videoCanvas2" width="360" height="240">

                    </canvas>

                    <canvas class="video-canvas" id="videoCanvas3" width="360" height="240">

                    </canvas>

                    <canvas class="video-canvas" id="videoCanvas4" width="360" height="240">

                    </canvas>
                </div>


                <div class="room_container">
                    <div class="pomp1">
                        <span>
                            <i class="fas fa-lightbulb"></i>
                            <label class="switch">
                                <input type="checkbox" id="togBtn" >
                                <div class="slider round"></div>
                            </label>
                        </span>

                        <p class="pomp1-text">給水</p>
                    </div>
                    <div class="humidityclear">
                        <span>
                            <span class="iconify" data-icon="iconoir:air-conditioner" data-width="36" data-height="36" ></span>
                            <label class="switch1">
                                <input type="checkbox" id="togBtn1" >
                                <div class="slider1 round"></div>
                            </label>
                        </span>

                        <p class="led-room1-text">除湿</p>
                    </div>
                    <div class="door-lock">
                        <span>
                            <i class="fas fa-door-open"></i>
                            <label class="switch2">
                                <input type="checkbox" id="togBtn2" >
                                <div class="slider2 round"></div>
                            </label>
                        </span>

                        <p class="door-text">屋根のドーア</p>
                    </div>

                    <div class="energy-saving">
                        <span>
                            <span class="iconify" data-icon="carbon:energy-renewable" style="color: white;" data-width="36" data-height="36"></span>
                            <label class="switch3">
                                <input type="checkbox" id="togBtn3" >
                                <div class="slider3 round"></div>
                            </label>
                        </span>

                        <p class="door-text">Energy Saving</p>
                    </div>

                </div>
            </div>

            <div class="cards2">
                <div class="card-farm">
                    <div class="card-single2">
                        <div>
                            <h1 id="temperature">28℃</h1>
                            <span>温度</span>
                        </div>
                        <div>
                            <span class="las la-temperature-high"></span>
                        </div>
                    </div>

                    <div class="card-single2">
                        <div>
                            <h1 id="humidity">79%</h1>
                            <span>湿度</span>
                        </div>
                        <div>
                            <span class="las la-tint"></span>
                        </div>
                    </div>

                    <div class="card-single2">
                        <div>
                            <h1 id="soilhumidity">潤い</h1>
                            <span>土壌の水分</span>
                        </div>
                        <div>
                            <span class="las la-temperature-high"></span>
                        </div>
                    </div>

                    <div class="card-single2">
                        <div>
                            <h1 id="pressure">1000mpa</h1>
                            <span>圧力</span>
                        </div>
                        <div>
                            <span class="las la-tree"></span>
                        </div>
                    </div>
                </div>

                <div class="card-tree">
                    <div class="card-single2">
                        <div>
                            <h1 id="soilhumidity">潤い</h1>
                            <span>土壌の水分</span>
                        </div>
                        <div>
                            <span class="las la-temperature-high"></span>
                        </div>
                    </div>

                    <div class="card-single2">
                        <div>
                            <h1 id="temperature">50cm</h1>
                            <span>高さ</span>
                        </div>
                        <div>
                            <span class="las la-temperature-high"></span>
                        </div>
                    </div>

                    <div class="card-single2">

                    </div>

                    <div class="card-single2">
                        <div>
                            <h1 id=""></h1>
                            <span></span>
                        </div>
                        <div>
                            <span class="las la-temperature-high"></span>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="status-chart">
            <div style="width: 320px; height: 240px;">
            <canvas id="tempchart" width="320" height="240"></canvas>
            </div>

            <div style="width: 320px; height: 240px;">
                <canvas id="waterchart" width="320" height="240"></canvas>
            </div>

            <div style="width: 320px; height: 240px;">
                <canvas id="treechart" width="320" height="240"></canvas>
            </div>

            <div style="width: 320px; height: 240px;">
                <canvas id="humiditychart" width="320" height="240"></canvas>
            </div>
        </div>
    </div>







<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    console.log(window.location.host)
    var usernameInput = document.querySelector('#username');
    var btnJoin = document.querySelector('#btn-join');
    var isCreatedOffer = false;
    var isAnsweredsdp = false;
    var username;
    var pc = null;
    var websocket;
    var arrayOfBlobs = [];
    var iceSDP = {};
    var ndem = 0;
    var ngrok_url = "{{ ngrok_url }}"

    var pomp1, pomp2, servor1, servor2, fan1, fan2, saveenergy;
    var url = "http://104.46.229.78:8000/api/button/update/3/"
    get_control_button_farm(url)
    console.log("pomp1 " + pomp1 + " pomp2 " + pomp2 + " saveenergy " + saveenergy);
    function get_control_button_farm (url) {
        fetch(url, {
            method: "GET",
        })
        .then(response => {
            if (response.ok) {
                return response.json();
            }

            console.log("Network response was not ok")
        })
        .then(resJson => {
            let jsondata = JSON.parse(resJson)
            pomp1 = jsondata.pomp1
            pomp2 = jsondata.pomp2
            servor1 = jsondata.servor1
            servor2 = jsondata.servor2
            fan1 = jsondata.fan1
            fan2 = jsondata.fan2
            saveenergy = jsondata.saveEnergy

        })
        .catch(error => {
            console.error(error);
        })
    }
    const b64_string = "data:image/png;base64,"

    var video = document.getElementById("#video")
    var mimeCodec = ""
    var temp_ele, humidity_ele, wind_ele, pressure_ele;

    temp_ele = document.getElementById("temperature");
    humidity_ele = document.getElementById("humidity");
    pressure_ele = document.getElementById("pressure");
    soilhumidity_ele = document.getElementById("soilhumidity")


    window.onload = function() {

        drawchart();

        var evtSource = new EventSource("{% url 'stream-response' %}");
        let temperature, pressure, humidity, wind;


        evtSource.onmessage = function(e) {
            //console.log(e);
            //console.log("data:" + e.data);
            var b64bufC01, b64bufC02, b64bufC03, b64bufC04;
            let json_data = JSON.parse(e.data);

            temperature = json_data.temperature;
            humidity = json_data.humidity;
            pressure = json_data.pressure;
            wind = json_data.wind;
            soilhumidity = json_data.soilhumidity;
		console.log("soil :" + soilhumidity);
            b64bufC01 = json_data.b64bufC01;
            b64bufC02 = json_data.b64bufC02;
            b64bufC03 = json_data.b64bufC03;
            b64bufC04 = json_data.b64bufC04;

            //console.log("[" + temperature + pressure + humidity + wind + "]")
            change_status_tree(temperature, pressure, humidity, wind, soilhumidity)

            draw_image(b64bufC01, b64bufC02, b64bufC03, b64bufC04)



        }


    }

    var buffer_video_C01 = [];
    var buffer_video_C02 = [];
    var buffer_video_C03 = [];
    var buffer_video_C04 = [];
    function draw_image(b64bufC01, b64bufC02, b64bufC03, b64bufC04) {
        console.log("printout NOW");

        var canvas1 = document.getElementById('videoCanvas1');
        var canvas2 = document.getElementById('videoCanvas2');
        var canvas3 = document.getElementById('videoCanvas3');
        var canvas4 = document.getElementById('videoCanvas4');

        var context1 = canvas1.getContext('2d');
        var context2 = canvas2.getContext('2d');
        var context3 = canvas3.getContext('2d');
        var context4 = canvas4.getContext('2d');

        var imageObj1 = new Image();
        var imageObj2 = new Image();
        var imageObj3 = new Image();
        var imageObj4 = new Image();

        imageObj1.src = b64_string + b64bufC01;
        imageObj1.onload = function () {
            console.log("draw image 1")

            context1.drawImage(imageObj1, 0, 0, 360, 240);
        };


        imageObj2.src = b64_string + b64bufC02;
        imageObj2.onload = function () {

            context2.drawImage(imageObj2, 0, 0, 360, 240);
        };


        imageObj3.src = b64_string + b64bufC03;
        imageObj3.onload = function () {

            context3.drawImage(imageObj3, 0, 0, 360, 240);
        };

        imageObj4.src = b64_string + b64bufC04;
        imageObj4.onload = function () {

            context4.drawImage(imageObj4, 0, 0, 360, 240);
        };

    }

    function change_status_tree(temperature, pressure, humidity, wind, soilhumidity) {
        if (soilhumidity / 10000 > 900) {
            soilhumidity_ele.innerHTML = "乾燥"
        }　else if (soilhumidity / 10000 < 900 && soilhumidity / 10000 > 600){
            soilhumidity_ele.innerHTML = "やや乾燥"
        }　else if (soilhumidity / 10000 < 600 && soilhumidity / 10000 > 400) {
            soilhumidity_ele.innerHTML = "潤い"
        }　else if (soilhumidity / 10000 < 400 ) {
	
            soilhumidity_ele.innerHTML = "多い"
        }


        temp_ele.innerHTML = temperature + "℃";
        pressure_ele.innerHTML = pressure + "Hpa";
        humidity_ele.innerHTML = humidity + "%";
    }

    function control_button_on_farm(pomp1, pomp2, servor1, servor2, fan1, fan2, saveenergy) {

    }


    var togBtn = document.getElementById("togBtn");
    var togBtn1 = document.getElementById("togBtn1");
    var togBtn2 = document.getElementById("togBtn2");
    var togBtn3 = document.getElementById("togBtn3");

    togBtn.addEventListener("click", function() {
        pomp1 = togBtn.checked === true;
        control_button_on_farm(pomp1, pomp2, servor1, servor2, fan1, fan2, saveenergy);
    })

    togBtn1.addEventListener("click", function() {
        pomp2 = togBtn.checked === true;
        control_button_on_farm(pomp1, pomp2, servor1, servor2, fan1, fan2, saveenergy);
    })

    togBtn2.addEventListener("click", function() {
        fan1 = togBtn.checked === true;
        control_button_on_farm(pomp1, pomp2, servor1, servor2, fan1, fan2, saveenergy);
    })

    //save energy
    togBtn3.addEventListener("click", function() {
        saveenerg = togBtn.checked === true;
        control_button_on_farm(pomp1, pomp2, servor1, servor2, fan1, fan2, saveenergy);
    })

    var buffer_video = [];

    async function webSocketOnMessage(event) {

        var text = await event['data'].text();

        var context = canvas.getContext('2d');
        var imageObj = new Image();
        imageObj.onload = function () {

            if (buffer_video.length < 30) {
                buffer_video.push(imageObj);
            } else if (buffer_video.length > 30) {
                context.drawImage(buffer_video[0], 0, 0, 480, 360);
            }
        };


    imageObj.src = b64_string + text;
    }

    function drawchart() {
        //temperature of chart
        var tempctx = document.getElementById('tempchart');
        new Chart(tempctx, {
            type: 'line',
            data: {
                labels: ['day1', 'day2', 'day3', 'day4', 'day5', 'day6', 'day7', 'day8'],
                datasets: [{
                    label: 'temperature',
                    data: [18, 17, 16, 18, 17, 15],
                    borderColor: '#f88',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        min:0,
                        max:30,
                    }
                }
            }
        });

        //temperature of chart
        var humidityctx = document.getElementById('humiditychart');
        new Chart(humidityctx, {
            type: 'line',
            data: {
                labels: ['day1', 'day2', 'day3', 'day4', 'day5', 'day6', 'day7', 'day8'],
                datasets: [{
                    label: 'humidity',
                    data: [70, 60, 50, 55, 75, 40],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        min:0,
                        max:100,
                    }
                }
            }
        });

        //temperature of chart
        var waterctx = document.getElementById('waterchart');
        new Chart(waterctx, {
            type: 'line',
            data: {
                labels: ['day1', 'day2', 'day3', 'day4', 'day5', 'day6', 'day7', 'day8'],
                datasets: [{
                    label: 'water',
                    data: [180, 657, 516, 418, 617, 415],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        min:100,
                        max:1000,
                    }
                }
            }
        });

        //temperature of chart
        var treectx = document.getElementById('treechart');
        new Chart(treectx, {
            type: 'line',
            data: {
                labels: ['day1', 'day2', 'day3', 'day4', 'day5', 'day6', 'day7', 'day8', 'day9', 'day10'],
                datasets: [{
                    label: 'Tree growth',
                    data: [1, 2, 3, 5, 6, 7, 8, 9, 10, 10, 10, 11],
                    borderWidth: 1,
                    borderColor: '#2EC600',
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        min:0,
                        max:40,
                    }
                }
            }
        });
    }





</script>
{% endblock %}

</body>


</html>
