{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend>Log In</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn-outline-info" type="submit">
                    Sign up
                </button>
            </div>
        </form>
        <div class="border-top">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Login</a>
            </small>
        </div>
    </div>
</body>
</html>